# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/
*.egg-info/

# Database
*.db
*.sqlite3

# Node
node_modules/
build/
.cache/

# Env files
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
